/* ******* Workflow ******* */

.flujo-trabajo{
  margin-left: 40%;
}

.workflow-text-mobile{
  margin-top: -40%;
}

@media only screen and (max-width: 768px) {

  .flujo-trabajo{
    margin-left: 0;
    text-align: center;
  }  

}


/*

.workflow-space{
  padding-top: 5%;
  padding-bottom: 7%;
}

.font-awesome-icon{
  font-size: 3.5em;
  margin-top: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.workflow-text{
  margin-top: 10%;
}

*/

 /* Medium devices (landscape tablets, 768px and up) */

 /*
 @media only screen and (max-width: 768px) {
  .workflow-icon{    
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  }
  .workflow-text{
    font-size: 1rem;
  }
}

*/

/* Extra small devices (phones, 600px and down) */
/*
@media only screen and (max-width: 600px) {
  .worflow-investigacion, .workflow-planificacion, .workflow-optimizacion, .workflow-resultados{
    grid-column-start: 2;
    grid-column-end: 6;
  }
  .worflow-investigacion{
    grid-row: 2;
  }
  .workflow-planificacion{
    grid-row: 3;
  }
  .workflow-optimizacion{
    grid-row: 4;
  }
  .workflow-resultados{
    grid-row: 5;
  }
}
*/