extends ../config/template

block main        

  .grid    
    include ../includes/header.pug
    include ../includes/somos.pug    
    include ../includes/servicios.pug    
    include ../includes/video.pug        
    include ../includes/workflow.pug
    include ../includes/seguros.pug    
    include ../includes/testimonio.pug 
    include ../includes/contacto.pug    
    include ../includes/map.pug    
    include ../includes/footer.pug
    include ../includes/functions.pug

block footer
  include ../includes/functions.pug