extends ../config/template

block main        

  .grid    
    include ../includes/menu.pug
    include ../includes/header.pug
    include ../includes/somos.pug    
    include ../components/parallax.pug 
    include ../includes/servicios.pug    
    include ../includes/workflow.pug
    include ../includes/seguros.pug    
    include ../components/parallax-second.pug 
    include ../components/arrow.pug    
    include ../includes/contacto.pug    
    include ../includes/map.pug  
    include ../components/social-media.pug          
    include ../includes/footer.pug    
  
block footer  
  include ../includes/functions.pug