#footer 
  .foot
    .bg-dar
      .container.my-5
        .row.text-center
          .col-md-2
            a(href="#")
              <img src="./img/logos/logo-taller-mecanico-automotriz-guayaquil-platinumotor.svg" class="d-inline-block align-top logo-menu-footer" alt="Logo taller mecánico automotriz Guayaquil - Ecuador. PlatiNumotor">
          .col-md-3.mt-3.text-center.text-md-left
            h5.mb-3.text-horario NAVEGACIÓN
            ul.menu-footer
              a(href="/")
                li.menu-footer-link Inicio
              a(href="#servicios")
                li.menu-footer-link Servicios
              a(href="#somos")
                li.menu-footer-link Sobre Nosotros
              a(href="#datos-contacto")
                li.menu-footer-link Contacto
              //a(href="#")
                li.menu-footer-link Preguntas Frecuentes
          .col-md-5.mt-3
            h5.mb-3.text-horario CONTACTO
              .text-secondary.footer-text.mt-3.text-md-left
                p <i class="fa fa-home" aria-hidden="true"></i> Cdla. Comegua Mz. M Sl. 21. Guayaquil-Ecuador
                p <i class="fa fa-phone" aria-hidden="true"></i> (04) 6039047 - 0992086188
                p <i class="fa fa-envelope" aria-hidden="true"></i> direccióncomercial@talleresplatinumotor.com
                p <i class="fa fa-globe" aria-hidden="true"></i> talleresplatinumotor.com
          .col-md-1.mt-3
            h5.mb-3.text-horario REDES
              <div class="social-items mt-3">
                <a class="social-item mr-3" href="https://www.facebook.com/Talleres-PlatinuMotor-101635308073639/?__tn__=%2Cd%2CP-R&eid=ARAVIrEe51KOv0VWiZ3ahGZY2Wynpm5juIDzhXi_xxm97pJ7Aw90zSDAKMa3f3osg-sbB5xoWWM2fuAz" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="social-item" href="https://www.instagram.com/talleresplatinumotorec" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>      
              </div>        
      .container-fluid
        hr.footer-hr
      .container.my-5.text-center.text-horario
        .row
          .col-md-6  © 2020 PlatinuMotor | Todos los derechos reservados.
          .col-md-6  Desarrolado por 
            a(href="http://www.agenciadlsport.com" target="_blank").menu-footer-link DL Agencia Creativa