script(src="./js/jquery.min.js")
script(src="./js/popper.min.js")
script(src="./js/bootstrap.min.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
script(src="./js/main.js")
script.
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      items:2,
      loop:true,            
      margin:10,
      nav:false,                        
      autoplayTimeout:3000,
      autoplayHoverPause:true,
      responsiveClass:true,
      responsive:{                
        678:{
          items:2,
          autoplay:true,
        },
        1000:{
          items:3,                   
          nav:true,
          autoplay:true,
        }
      }            
    });
    $('.play').on('click',function(){
      owl.trigger('play.owl.autoplay',[1000])
    })
    $('.stop').on('click',function(){
      owl.trigger('stop.owl.autoplay')
    })
  });
script.
  $("#sticky").modal({
    escapeClose: false,
    clickClose: false,
    showClose: false
  });