#seguros
  .seguros.my-5
    .container.mb-5
      h2.font-weight-bold.text-center.my-5.pb-5 Seguros
      .row.d-flex.align-content-center.justify-content-center.mt-5
        .col-md-4.seguros-contenedor-img
          img(src="./img/seguros/logo-seguro-latina-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Logo de seguros Latina. Taller mecánico automotriz Guayaquil - Ecuador. PlatinuMotor").seguros-img.mt-5.mt-md-3
        .col-md-4.seguros-contenedor-img
          img(src="./img/seguros/logo-seguro-hispana-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Logo de seguros Hispana. Taller mecánico automotriz Guayaquil - Ecuador. PlatinuMotor").seguros-img.mt-5.mt-md-3
        .col-md-2.seguros-contenedor-img
          img(src="./img/seguros/logo-sweaden-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Logo de seguros Sweaden. Taller mecánico automotriz Guayaquil - Ecuador. PlatinuMotor").seguros-img.mt-5.mt-md-3
        .col-md-3.seguros-contenedor-img.mt-md-5.ml-md-5
          img(src="./img/seguros/logo-seguro-mapfre-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Logo de seguros Mapfre. Taller mecánico automotriz Guayaquil - Ecuador. PlatinuMotor").seguros-img.mt-5.mt-md-3
        .col-md-4.seguros-contenedor-img.mt-md-5.ml-md-5
          img(src="./img/seguros/logo-seguro-generali-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Logo de seguros Generali. Taller mecánico automotriz Guayaquil - Ecuador. PlatinuMotor").seguros-img.mt-5.mt-md-3