#servicios
  .servicios 
    .container
      h2.font-weight-bold.text-center.my-5.py-5 Servicios
      .row.d-flex.justify-content-center.my-5
        .col-md-4.text-center.pr-4.pl-4.d-flex.flex-column.align-items-center
          .circulo-servicio.mb-5          
            img(src="./img/icons/mecanica-general-taller-mecanico-automotriz-guayaquil-platinumotor.svg", alt="Mecánica general. Taller mecánico automotriz Guayaquil - Ecuador. Platinumotor").p-4
          h5.font-weight-bold Mecánica en general
          p.text-justify.mt-3.mb-5.pb-5 Realizamos todo tipo de trabajos de 
            span.font-weight-bold mantenimiento y reparación 
            |relativos a la 
            span.font-weight-bold mecánica general  
            | del vehículo, motor, frenos, climatización, amortiguación, dirección, sistemas de transmisión, embrague, etc.
        .col-md-4.text-center.pr-4.pl-4.d-flex.flex-column.align-items-center
          .circulo-servicio.mb-5          
            img(src="./img/icons/enderezada-de-vehiculos-taller-mecanico-automotriz-guayaquil-platinumotor.svg", alt="Enderezada de vehiculos. Taller mecánico automotriz Guayaquil - Ecuador. Platinumotor").p-3
          h5.font-weight-bold Enderezada
          p.text-justify.mt-3.mb-5.pb-5 Contamos con equipos de 
            span.font-weight-bold tracción,  
            |equipos para 
            span.font-weight-bold sacar golpes, 
            |suelda eléctrica, suelda autógena. Estos equipos son manejados por 
            span.font-weight-bold personas calificadas, 
            |este trabajo es el ideal para la reconstrucción de choques.
        .col-md-4.text-center.pr-4.pl-4.d-flex.flex-column.align-items-center
          .circulo-servicio.mb-5          
            img(src="./img/icons/pintura-automotriz-taller-mecanico-automotriz-guayaquil-platinumotor.svg", alt="Pintura automotriz. Taller mecánico automotriz Guayaquil - Ecuador. Platinumotor").p-4
          h5.font-weight-bold Pintura
          p.text-justify.mt-3.mb-5.pb-5 Poseemos un equipo de 
            span.font-weight-bold técnicos calificados y capacitados 
            |para todo tipo de 
            span.font-weight-bold trabajo de pintura. 
            |Usamos material de 
            span.font-weight-bold calidad y durabilidad, 
            |sin descuidar el cuidado del medio ambiente.
      .row.d-flex.justify-content-center.my-5
        .col-md-4.text-center.pr-4.pl-4.d-flex.flex-column.align-items-center
          .circulo-servicio.mb-5          
            img(src="./img/icons/diagnostico-reparacion-taller-mecanico-automotriz-guayaquil-platinumotor.svg", alt="Diágnostico y reparación. Taller mecánico automotriz Guayaquil - Ecuador. Platinumotor").p-3
          h5.font-weight-bold Diagnóstico y reparación
          p.text-justify.mt-3.mb-5.pb-5 Contamos con los más 
            span.font-weight-bold modernos equipos 
            |de diagnóstico para 
            span.font-weight-bold detectar 
            |cualquier tipo de 
            span.font-weight-bold avería 
            |y realizar los 
            span.font-weight-bold ajustes necesarios, 
            |tales como; motor, climatización, transmisión, frenos, suspensión, confort. etc.
        .col-md-4.text-center.pr-4.pl-4.d-flex.flex-column.align-items-center
          .circulo-servicio.mb-5          
            img(src="./img/icons/electricidad-automotriz-taller-mecanico-automotriz-guayaquil-platinumotor.svg", alt="Electricidad automotriz. Taller mecánico automotriz Guayaquil - Ecuador. Platinumotor").p-4
          h5.font-weight-bold Electricidad automotriz
          p.text-justify.mt-3.mb-5.pb-5 Realizamos 
            span.font-weight-bold mantenimiento o reparación 
            |de los componentes del 
            span.font-weight-bold circuito de carga, arranque, luces. 
            |Analizamos la batería, alternador, motor de arranque y sistemas eléctricos del vehículo. Nos encargamos de la 
            span.font-weight-bold calibración electrónica 
            |del motor y del sistema de combustible.
        .col-md-4.text-center.pr-4.pl-4.d-flex.flex-column.align-items-center
          .circulo-servicio.mb-5          
            img(src="./img/icons/punto-lubricacion-automotriz-taller-mecanico-automotriz-guayaquil-platinumotor.svg", alt="Punto de lubricacion automotriz. Taller mecánico automotriz Guayaquil - Ecuador. Platinumotor").p-4
          h5.font-weight-bold Lubricación
          p.text-justify.mt-3.mb-5.pb-5 Ofrecemos servicios y 
            span.font-weight-bold productos de lubricación 
            |para cuidar la salud de tu motor. Llevamos un 
            span.font-weight-bold historial personalizado 
            |de su vehículo para garantizarle una 
            span.font-weight-bold atención personalizada.