#somos
  .somos
    .container
      .row.d-flex.align-content-center.justify-content-center.my-5
        .col-md-6.text-center.my-5 
          h2.font-weight-bold.mb-4.d-block.d-md-none ¿Por qué nosotros?
          img(src="./img/ford-camry-2020-pintura-taller-mecanico-automotriz-platinumotor-guayaquil.webp", alt="Ford Camry 2020. Trabajo de pintura taller mecánico automotriz PlatinuMotor. Guayaquil").somos-img                    
        .col-md-6.my-md-5.d-flex.align-content-center.flex-column.justify-content-center
          h2.font-weight-bold.d-none.d-md-block ¿Por qué nosotros?
          p.my-md-4.text-justify Somos un taller mecánico especializado en 
            span.font-weight-bold mantenimiento 
            |y 
            span.font-weight-bold reparación automotriz. 
            |Estamos ubicados en Guayaquil - Ecuador. Contamos con técnicos altamente 
            span.font-weight-bold capacitados. 
            |Nuestro objetivo es darle una atención personalizada y de calidad a cada uno de nuestros clientes.