#workflow
  .workflow
    .container-fluid
      .row
        img(src="./img/evaluacion-preventiva-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Evaluaci칩n preventiva. Taller mec치nico automotriz PlatinuMotor. Guayaquil - Ecuador").d-block.d-md-none
        h2.text-secondary.font-weight-bold.mr-auto.ml-auto.workflow-text-mobile.d-block.d-md-none Flujo de trabajo
        .col-md-6.bg-dar.text-white
          .flujo-trabajo.my-5
            h2.text-secondary.font-weight-bold.d-none.d-md-block Flujo de trabajo
            ul.mt-5
              li.mt-3 1. Generar cita
              li.mt-3 2. Llegada al taller
              li.mt-3 3. Evaluamos tu auto
              li.mt-3 4. Manos a la obra
              li.mt-3 5. Entregamos a tiempo          
        .col.md-6.contenedor-img
          img(src="./img/evaluacion-preventiva-taller-mecanico-automotriz-guayaquil-platinumotor.webp", alt="Evaluaci칩n preventiva. Taller mec치nico automotriz PlatinuMotor. Guayaquil - Ecuador").contacto-img.d-none.d-md-block