/* ******* Hacks ******* */
.slider{  
  z-index: 1;
  top: -17%;
  margin-bottom: -5%;
}

.menu{ 
  z-index: 2;
}

.btn{
  z-index: 6 !important;
}

.title-to-text{
  font-size: 1em;
  display: inline;  
}

@media only screen and (max-width: 768px) {

  .slider{
    top: 0;
  }

}