.datos-contacto.my-5
  .container
    .row.justify-content-center
      h2.font-weight-bold.text-center Contáctanos
      h5.text-center.my-3.mb-5.pb-5 Te invitamos a contactarnos, a través, de nuestros canales de servicio al cliente.      
      .col-md-7.my-3
        .d-flex
          .circulo 
            <i class="fa fa-home" aria-hidden="true"></i>          
          .datos-contacto-texto.my-4.ml-4
            h3 Dirección
            p Cdla. Comegua Mz. M Sl. 21. Guayaquil-Ecuador
      .col-md-5.my-4
        h3 
          span.font-weight-bold Llámanos: 
        h3
          span.contacto-numero (04) 6039047 - 0992086188 
      .col-md-7.my-3
        .d-flex
          .circulo 
            <i class="fa fa-envelope" aria-hidden="true"></i>          
          .datos-contacto-texto.my-4.ml-4
            h3 Email
            p direccióncomercial@talleresplatinumotor.com
      .col-md-5.my-4       
        h3
          span.font-weight-bold Redes sociales
        h4.mt-3
          span            
            <a class="social-item-contacto mr-4" href="https://www.facebook.com/Talleres-PlatinuMotor-101635308073639/?__tn__=%2Cd%2CP-R&eid=ARAVIrEe51KOv0VWiZ3ahGZY2Wynpm5juIDzhXi_xxm97pJ7Aw90zSDAKMa3f3osg-sbB5xoWWM2fuAz" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          span            
            <a class="social-item-contacto" href="https://www.instagram.com/talleresplatinumotorec" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>