#parallax-second
  .parallax-second
    .text-white.d-flex.align-items-center.justify-content-center.flex-column
      .parallax-text
        h2.text-center.text-secondary.font-weight-bold "Las empresas excelentes no solo creen en la excelencia, 
        h2.text-center.text-secondary.font-weight-bold también en la mejora continua y
        h2.text-center.text-secondary.font-weight-bold el camino constante."
        h4.text-center.font-weight-bold.mt-5 Tom Peters  