#parralax
  .parallax
    .text-white.d-flex.align-items-center.justify-content-center.flex-column
      .parallax-text
        h2.text-center.text-secondary.font-weight-bold "Antes de decir que no puedes hacer algo, inténtalo"
        h4.text-center.font-weight-bold.mt-5 Sakichi Toyoda
        p.text-center.font-weight-bold.mt-2 Fundador de Toyota