<nav class="men bg-dar text-horario ">
  <div class="container horario my-3">
    <i class="fa fa-car mr-3" aria-hidden="true">  </i>   Taller Multimarca - Atención 24/7
    <span class="ml-auto social-items">
      <a class="social-item mr-4" href="https://www.facebook.com/Talleres-PlatinuMotor-101635308073639/?__tn__=%2Cd%2CP-R&eid=ARAVIrEe51KOv0VWiZ3ahGZY2Wynpm5juIDzhXi_xxm97pJ7Aw90zSDAKMa3f3osg-sbB5xoWWM2fuAz" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class="social-item" href="https://www.instagram.com/talleresplatinumotorec" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>      
    </span>    
  </div>
</nav>