/* ******* Menu ******* */
@import './components/parts/nav-link.scss';

.nav-link{    
  font-size: 1em !important;
  margin-left: 12px;
  letter-spacing: 4px !important;
  transition: all .2s ease-out; 
}

.color-nav-link{
  color: var(--main-color) !important;

  &:hover{
    color: var(--second-color) !important;    
  }
}

.bg-transparency{
  transition: all .5s ease;
}

.menu-shadow{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.4), 0 6px 4px -5px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.2);  
}


/*
.navbar{  
  z-index: 99 !important;
}








@media (max-width: 575.98px) {
  .navbar-brand{
    margin-right: 0;
  }  
}


.color-nav-link{
  transition: all .5s ease;
}

.menu-shadow{
  box-shadow: -2px -2px !important;  
}



#menu2{
  z-index: 99999999999999999999999999 !important;
}

@media (max-width: 991px) { 
  #menu{
    display: none !important;
    visibility: hidden !important;
  }
}
*/