/* ******* text ******* */

/*

.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

.text-gradient{
  @include main-gradient;
  width: 170px;
  min-width: 170px;
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 3.4em;
}

.text-gradient-secondary{
  @include second-gradient;
  -webkit-background-clip: text;
  color: transparent;  
}

.focus-text{
  color: var(--text-focus-color);
  font-weight: 700;
}

.font-weight-bold{
  font-weight: bold;
}

.text-white{
  color: #fff;
}

*/