/* ******* Layout ******* */

.grid{
  display: grid;
  grid-gap: 5%;
  grid-template-areas: "head"
                       "somos"                       
                       "servicios"
                       "video"                       
                       "workflow"
                       "seguros"
                       "testimonio"
                       "contacto"
                       "map"
                       "foot";  
}

.head{
  grid-area: head;   
  display: grid;    
}

.somos{
  grid-area: somos;   
  display: grid;  
  background-color: gray;
  color:#fff;
}

.servicios{
  grid-area: servicios;   
  display: grid;  
}

.video{
  grid-area: video;   
  display: grid;  
  background-color: gray;
  color:#fff;
}

.workflow{
  grid-area: workflow;  
  display: grid;  
}

.seguros{
  grid-area: seguros;  
  display: grid;  
  background-color: gray;
  color:#fff;
}

.testimonio{
  grid-area: testimonio;  
  display: grid;  
}

.contacto{
  grid-area: contacto; 
  display: grid;  
  background-color: gray;
  color:#fff;
}

.map{
  grid-area:map; 
  display: grid;  
}

.foot{
  grid-area: foot;
  display: grid;  
  background-color: gray;
  color:#fff;
}

/*

.header{
  display: grid;
  grid-template-rows: repeat(4, 1fr) ;
  grid-column: 2; 
  grid-gap: 8%;
}

.header-title{
  grid-row: 2;
  margin-top: 5%;
}

.header-text{
  grid-row: 3;
}

.header-button{
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7%;
}
*/


/*
.somos-img{
  display: flex;
  align-items: center;
}

.somos-first-title{
  grid-column: span 4;
  padding-bottom: 5%;  
  display: none;
}

.somos-copy{
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 6%;
}
.somos-text{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8%;
}
*/


/*

.card-1{
  grid-column: 2;
}

.card-2{
  grid-column: 3;
}

.card-3{
  grid-column: 4;
}
*/



/*

.servicios-content{
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-gap: 2%;
}

.servicios-content-text{
  grid-column: 2;
}

.servicios-content-text, .servicios-content-img{  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.servicios-content-img{
  grid-column: 3;
}

.social-media, .diseno-web, .diseno-grafico{
  display: grid;
  grid-gap: 30%;
}




.workflow-icon{
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
  margin-top: 8%;  
}

.worflow-investigacion{
  grid-column: 2;
}

.worflow-planificacion{
  grid-column: 3;
}

.portafolio{
  grid-area: portafolio;   
}


.instagram{
  grid-area: instagram; 
  background: #bbb; 
}


*/