/* ******* Layout ******* */

.grid{
  display: grid;  
  grid-template-areas: "men"
                       "head"
                       "somos"
                       "parallax"
                       "servicios"
                       "video"                       
                       "workflow"
                       "seguros"
                       "testimonio"
                       "parallax-second"
                       "datos-contacto"
                       "form-contacto"
                       "map"
                       "foot";  
}

.menu{
  grid-area: men;   
  display: grid;    
}

.header{
  grid-area: head;   
  display: grid;    
}

.somos{
  grid-area: somos;   
  display: grid;    
}

.parallax{
  grid-area: parallax;   
  display: grid; 
}

.servicios{
  grid-area: servicios;
  display: grid;
}

.video{
  grid-area: video;   
  display: grid;  
  background-color: gray;
  color:#fff;
}

.workflow{
  grid-area: workflow;  
  display: grid;  
}

.seguros{
  grid-area: seguros;  
  display: grid;  
}

.testimonio{
  grid-area: testimonio;  
  display: grid;  
}

.parallax-second{
  grid-area: parallax-second;   
  display: grid; 
}

.datos-contacto{
  grid-area: datos-contacto; 
  display: grid;    
}

.formulario-contacto{
  grid-area: formulario-contacto; 
  display: grid;    
}

.map{
  grid-area:map; 
  display: grid;  
}

.foot{
  grid-area: foot;
  display: grid;  
  background-color: gray;
  color:#fff;
}

@import './layout/parts/social-bar.scss';